<div class="slider-component">

    <div class="overlay"></div>

    <div class="slider-wrapper">

        <div class="slide" *ngFor="let result of results">
            <img width="100%" src="https://image.tmdb.org/t/p/original/{{result.backdrop_path}}" [@fadeZoom]/>
            <div class="infos" [@fade]>
                <p class="m-release">{{result.release_date}}</p>
                <h1  class="m-title">{{result.title}}</h1>
                <p class="m-overview">
                    {{result.overview}}
                </p>
                <div class="rate pull-right">
                    {{result.popularity}}
                </div>
                <a routerLink="/movie/{{result.id}}" class="button button--antiman button--inverted button--border-thin button--text-thick button--size-m button--round-s">See review</a>
            </div>
        </div>
    </div>
</div>
